*.zip
*.jpg
*.docx
*.pdf
Datasets/**/*.png
*.jpeg
*.webp
*.npy
*.cache
*.yaml
*.json
*.mp4
*.yaml
*.cache
*.csv
*.txt
*.npy
*.txt
*.cache
*.yaml
*.pt
*.csv
*.png
# ensure the directory itself is not ignored
!latex/*.*
Datasets/Dataset/game1/Clip1/0000.jpg
Datasets/Dataset/game1/Clip10/Label.csv
# Datasets/OpenTT/game_1/segmentation_masks/17.png
Research Papers/applsci-15-05370.pdf
Datasets/OpenTT/game_1/Unconfirmed 614244.crdownload
pw1
.env
**/__pycache__/
*.pt
outputs/
Ball Detection/filtered_datasets/*
*.txt
*.yaml
*.csv
.idea/
*.pt
